.ClickableLogo_div {
    position: relative;
    margin-bottom: 4rem;
}

.ClickableLogo_img {
    margin: 0 10%;
    opacity: 1;
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    width: 80%;
}

.ClickableLogo_img___hover {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.ClickableLogo:hover .ClickableLogo_img___hover {
    opacity: 1;
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.ClickableLogo:focus .ClickableLogo_img___hover {
    opacity: 1;
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    outline: none;
}

.ClickableLogo_img___footer {
    margin: 0;
}

@media only screen and (max-width: 500px) {
    
    .ClickableLogo_img___footer {
        margin: 0 auto;
    }  
}