.ImageGrid {
    margin-bottom: 0.6rem;

}

.ImageGrid_div {
    display: grid;
    grid-auto-flow: row;
    grid-column-gap: 4vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    .ImageGrid_div {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto; 
    }
}

@media only screen and (max-width: 500px) {
    .ImageGrid_div {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}