.Text {
    margin-bottom: 2.5rem;
}

/* Exceptional use of type selectors due to the technical limitations of html-react-parser */
.Text p {
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.Text a {
    color: var(--purple);
}

.Text a:hover {
    text-decoration: none;
}

.Text a:focus {
    outline: none;
    text-decoration: none;
}

.Text h2 {
    color: var(--purple);
    font-family: 'Unna', serif;
    font-size: 4vw;
    font-style: normal; 
    font-weight: normal;
    padding: 0.5em 0;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .Text h2{
        font-size: calc(29px + 7 * (100vw - 600px) / 300);
    }
}

@media only screen and (max-width: 600px) {
    .Text h2 {
        font-size: 29px;
    }
}