.SocialMediaLinks {
    margin-bottom: 2.5rem;
    text-align: center;
}

.SocialMediaLink {
    color: var(--purple);
    font-size: 3rem;
    padding: 0 1rem;
    transition: color 1s cubic-bezier(0.19, 1, 0.22, 1);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
}

.SocialMediaLink:hover {
    color: var(--pink);
    transition: color 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.SocialMediaLink:focus {
    color: var(--pink);
    transition: color 1s cubic-bezier(0.19, 1, 0.22, 1);
    outline: none;
}