.Header {
    padding: 9rem 15vw 5rem;
    text-align: center;
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    .Header {
        padding-left: calc(25px + (135 - 25) * (100vw - 500px) / (800 - 500));
        padding-right: calc(25px + (135 - 25) * (100vw - 500px) / (800 - 500));        
    }
}

@media only screen and (max-width: 500px) {
    .Header {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.Header___index {
    padding: 5rem 8vw 2.5rem;
}

.Header___404 {
    padding: 9rem 8vw 0;
}

.Header_h1 {
    color: var(--purple);
    font-style: normal;
    font-weight: normal;
}

.Header_h1___index {
    font-family: 'Bungee Inline', sans-serif;
    font-size: 10.5vw;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
}

.Header_h1___404 {
    font-family: 'Bungee', sans-serif;
    font-size: 6vw;
}

.Header_h1___page {
    font-family: 'Bungee', sans-serif;
    font-size: 5vw;
}

.Header_h1___blogi {
    font-family: 'Unna', serif;
    font-size: 5vw;
    margin-bottom: 2rem;
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    .Header_h1___blogi {
        font-size: calc(32px + (40 - 32) * (100vw - 500px) / (800 - 500));
    }
}

@media only screen and (max-width: 500px) {
    .Header_h1___blogi {
        font-size: 32px;
    }
}

.Header_h2 {
    color: var(--purple);
    font-family: 'Unna', serif;
    font-size: 5vw;
    font-style: normal;
    font-weight: normal;
    padding: 0.5em 0;
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    .Header_h2 {
        font-size: calc(32px + (40 - 32) * (100vw - 500px) / (800 - 500));
    }
}

@media only screen and (max-width: 500px) {
    .Header_h2 {
        font-size: 32px;
    }
}

.Header_time___blogi {    
    padding-right: 1rem;
}