.FooterA {
    color: white;
    font-size: 1.5rem;
    padding: 0 0 0 1rem;
    transition: color 1s cubic-bezier(0.19, 1, 0.22, 1);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
}

.FooterA:hover {
    color: var(--yellow);
    transition: color 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.FooterA:focus {
    color: var(--yellow);
    transition: color 1s cubic-bezier(0.19, 1, 0.22, 1);
    outline: none;
}