/* Block: ClickableLogo + Element: div + Modifiers ***** */

.ClickableLogo {
    display: block;
    height: auto;
}

.ClickableLogo_div {
    height: 20vw;
    position: relative;
}

.ClickableLogo_div___footer {
    height: 70px;
}


.ClickableLogo_img {
    left: 0;
    margin: 0 auto;
    opacity: 1;
    position: absolute;
    right: 0;
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    width: 70%;
}

.ClickableLogo_img {
    margin: 0 auto;
}

.ClickableLogo_img___footer {
    margin: 0;
}

.ClickableLogo_img___hover {
    opacity: 0;
}

.ClickableLogo:hover .ClickableLogo_img___hover {
    opacity: 1;
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.ClickableLogo:focus .ClickableLogo_img___hover {
    opacity: 1;
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    outline: none;
}
