/* Block: EntryDiv ***************************************** */

.EntryDiv {
    margin-bottom: 2.5rem;
}



/* Block: EntryDiv + Modifier: text + Elements ************* */

/* Exceptional use of type selectors due to the technical limitations of html-react-parser */

.EntryDiv___text h2 {
    color: #8f44cc;
    font-family: 'Unna', serif;
    font-size: 4vw;
    font-style: normal;
    font-weight: normal;
    padding: 0.5em 0;
}

.EntryDiv___text p {
    line-height: 1.5rem;
    margin-bottom: 1rem;
}



/* Block: EntryDiv + Modifier: blogPost + Elements ************* */

.EntryDiv___blogPost:hover .EntryDiv_blogTitle {
    background-color: hsl(50, 100%, 75%);
    color: black;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition-property: background-color, color;
}

.EntryDiv_blogLink:focus .EntryDiv_blogTitle {
    background-color: hsl(50, 100%, 75%);
    color: black;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition-property: background-color, color;
}

.EntryDiv_blogLink {
    outline: none;
    text-decoration: none;
}

.EntryDiv_blogTitle {
    background-color: none;
    border-radius: 4px;
    color: hsl(275, 60%, 10%);
    line-height: 1.5rem;
    margin: -3rem -0.75rem 0 0.75rem;
    padding: 4rem 1.5rem 1.25rem;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition-property: background-color, color;
}



/* Block: EntryDiv + Modifier: email + Elements ************* */

.EntryDiv___email {
    text-align: center;
}

.EntryDiv_address {
    font-style: normal;
}

.EntryDiv_contactEmail {
    color: hsl(275, 60%, 55%);
    font-size: 2rem;
    text-decoration: none;
}

.EntryDiv_contactEmail_hover {
    text-decoration: underline;
}



/* Block: EntryDiv + Modifier: socialMediaLinks ********** */

.EntryDiv___socialMediaLinks {
    text-align: center;
}



/* Block: EntryDiv + other elements ************ */

.EntryDiv_nameP {
    color: hsl(275, 60%, 40%);
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

.EntryDiv_occupationP {
    color: hsl(275, 60%, 40%);
    font-weight: bold;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.EntryDiv_quoteP {
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

.EntryDiv_singleLineP {
    text-align: center;
}