/* Block: Image + Modifiers ***************************** */

.Image___yellowShadow {
    border-radius: 4px;
    box-shadow: -0.7rem 0.7rem var(--yellow);
    margin: 0 0 2.7rem 0.7rem;
}

.Image___purpleShadow {
    border-radius: 4px;
    box-shadow: -1.4rem 1.4rem var(--purple);
    margin: 0 0 1.4rem 1.4rem;
}