.NavA {
    color: white;
    transition: color 1s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: color 1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: color 1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: color 1s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: color 1s cubic-bezier(0.19, 1, 0.22, 1);
    border-top: 1px solid hsla(50, 100%, 75%, 0);
    border-bottom: 1px solid hsla(50, 100%, 75%, 0);
    padding: 0 0.1rem 0.3rem 0.1rem;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
}

@media only screen and (max-width: 850px) {
    .NavA {
        padding: 0 0 1.5rem 0;
    }
}

.NavA:hover {
    color: var(--yellow);
    transition: color 1s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: color 1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: color 1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: color 1s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: color 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.NavA:focus {
    color: var(--yellow);
    transition: color 1s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: color 1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: color 1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: color 1s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: color 1s cubic-bezier(0.19, 1, 0.22, 1);
    outline: none;
}

.NavA_page___active {
    border-bottom: 1px solid hsla(50, 100%, 75%, 1);
    color: var(--yellow);
}

@media only screen and (max-width: 850px) {
    .NavA_page___active {
        border-bottom: none;
    }
}

.NavA___index {
    font-size: 1.5em;
    margin-right: 1rem;
}

.NavA___page {
    font-weight: bold;
    margin-right: 1rem;
}

.NavA___electionLink {
    font-family: 'Bungee', sans-serif;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.NavA___socialMediaLink {
    font-size: 1.5em;
    margin-left: 1rem;
}

@media only screen and (max-width: 850px) {
    .NavA___electionLink {
        padding: 0 0 1rem 0;
    }

    .NavA___socialMediaLink {
        padding: 0 0 1rem 0;
    }
}