:root {
    --purple: hsl(275, 60%, 55%);
    --darkPurple: hsl(275, 60%, 40%);
    --darkerPurple: hsl(275, 60%, 10%);
    --pink: hsl(334, 78%, 74%);
    --yellow: hsl(50, 100%, 75%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    color: var(--darkerPurple);
    font-family: 'Arvo', serif;
    font-size: 16px;
}

.BodyDiv {
    background: white;
    min-height: 100vh;
}