/* Block: header ****************************************** */

.Header {
    padding: 9rem 8vw 5rem;
    text-align: center;
}

.Header___index {
    padding: 5rem 8vw 5rem;
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    .Header {
        padding-left: calc(25px + (72 - 25) * (100vw - 500px) / (800 - 500));
        padding-right: calc(25px + (72 - 25) * (100vw - 500px) / (800 - 500));        
    }
}

@media only screen and (max-width: 500px) {
    .Header {
        padding-left: 25px;
        padding-right: 25px;
    }
}

/* Element: h1 + modifiers ********************************* */

.Header_h1 {
    color: hsl(275, 60%, 55%);
    font-weight: normal;
}

.Header_h1___index {
    font-family: 'Bungee Inline', sans-serif;
    font-size: 10.5vw;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
}

.Header_h1___page {
    font-family: 'Bungee', sans-serif;
    font-size: 6vw;
}

.Header_h1___blogi {
    font-family: 'Unna', serif;
    font-size: 4vw;
    margin-bottom: 2rem;
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    .Header_h1___blogi {
        font-size: calc(29px + 7 * (100vw - 500px) / 300);
    }
}

@media only screen and (max-width: 500px) {
    .Header_h1___blogi {
        font-size: 29px;
    }
}

/* Element: h2 + modifiers ********************************* */

.Header_h2 {
    color: #8f44cc;
    font-family: 'Unna', serif;
    font-size: 4vw;
    font-style: normal;
    font-weight: normal;
    padding: 0.5em 0;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .Header_h2 {
        font-size: calc(29px + 7 * (100vw - 600px) / 300);
    }
}

@media only screen and (max-width: 600px) {
    .Header_h2 {
        font-size: 29px;
    }
}

/* Element: a + modifiers ********************************* */

.Header_a___blogi {
    color: hsl(275, 60%, 10%);
    text-decoration: none;
    padding-left: 1rem;
}

.Header_a___blogi:hover, .Header_a___blogi:focus {
    color: hsl(275, 60%, 40%);
    outline: none;
    text-decoration: underline;
}