.Main {
    min-height: calc(100vh - 35rem);
}

.Main___column {
    padding: 0 15vw 3rem;
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    .Main___column {
        padding-left: calc(25px + (135 - 25) * (100vw - 500px) / (800 - 500));
        padding-right: calc(25px + (135 - 25) * (100vw - 500px) / (800 - 500));     
    }
}

@media only screen and (max-width: 500px) {
    .Main___column {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.Main___grid {
    display: grid;
    grid-auto-flow: row;
    grid-column-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 0 10vw 3rem 8vw; 
    width: 100%;
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    .Main___grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding-left: calc(25px + (72 - 25) * (100vw - 500px) / (800 - 500)); 
        padding-right: calc(35px + (90 - 35) * (100vw - 500px) / (800 - 500));  
    }
}

@media only screen and (max-width: 500px) {
    .Main___grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding-left: 25px;
        padding-right: 35px;
    }
}



/* Exceptional use of type selectors due to the technical limitations of html-react-parser */

.Main_blogDiv p {
    line-height: 2rem;
    margin-bottom: 1.5rem;
}