/* Block: Main + Modifier: column ****************************** */

.Main___column {
    padding: 0 15vw 10vw;
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    .Main___column {
        padding-left: calc(25px + (135 - 25) * (100vw - 500px) / (800 - 500));
        padding-right: calc(25px + (135 - 25) * (100vw - 500px) / (800 - 500));     
    }
}

@media only screen and (max-width: 500px) {
    .Main___column {
        padding-left: 25px;
        padding-right: 25px;
    }
}



/* Block: Main + Modifier: grid ****************************** */

.Main___grid {
    display: grid;
    grid-auto-flow: row;
    grid-column-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 0 10vw 10vw 8vw; 
    width: 100%;
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    .Main___grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding-left: calc(25px + (72 - 25) * (100vw - 500px) / (800 - 500)); 
        padding-right: calc(35px + (90 - 35) * (100vw - 500px) / (800 - 500));  
    }
}

@media only screen and (max-width: 500px) {
    .Main___grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding-left: 25px;
        padding-right: 35px;
    }
}

/* Element: blogDiv ********************************************* */

/* Exceptional use of type selectors due to the technical limitations of html-react-parser */

.Main_blogDiv {
    margin: 1rem 0;
}

.Main_blogDiv p {
    line-height: 2rem;
    margin-bottom: 1.5rem;
}

.Main_blogDiv b, strong {
    color: var(--purple);
    font-weight: normal;
}

.Main_blogDiv i, em {
    font-style: italic;
    font-weight: normal;
}

.Main_blogDiv li {
    line-height: 2rem;
    list-style-position: inside;
}

.Main_blogDiv ul, ol {
    margin-bottom: 1.5rem;
}
