/* Block: nav + modifiers ******************************* */

.Nav {
    background-color: hsl(275, 60%, 55%);
    padding: 1.5rem;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.Nav___desktop {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    height: 5rem;
    justify-content: space-between;
}

.Nav___mobile {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 1.5rem;
    grid-template-columns: auto auto;
}

.Nav___tucked {
    height: 5rem;
    transition: height 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-transition: height 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.Nav___untucked {
    height: 100vh;
    transition: height 1.5s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: height 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}



/* Element: p + modifiers ******************************** */

.Nav_p {
    color: white;
    font-family: 'Bungee', sans-serif;
    font-size: 1.5rem; 
}

.Nav_p___desktop {
    display: none;
}

.Nav_p___mobile {
    display: block;
}

.Nav_p___visible {
    opacity: 1;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.Nav_p___invisible {
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}



/* Element: button + modifiers **************************** */

.Nav_button {
    align-self: start;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    justify-self: end;
    text-align: right;
}

.Nav_button:hover {
    color: hsl(50, 100%, 75%);
}

.Nav_button:focus {
    color: hsl(50, 100%, 75%);
    outline: none;
}

.Nav_button___desktop {
    display: none;
}

.Nav_button___mobile {
    display: block;
}

.Nav_button___visible {
    opacity: 1;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.Nav_button___invisible {
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}



/* Element: div + modifiers ******************************* */

.Nav_div {
    align-items: baseline;
    display: flex;
}

.Nav_div___desktop {
    flex-direction: row;
}

.Nav_div___tucked {
    display: none;
}

.Nav_div___untucked {
    flex-direction: column;
}

.Nav_div___right {
    align-items: flex-end;
}

.Nav_div___visible {
    opacity: 1;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.Nav_div___invisible {
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}