.NavA {
    color: white;
    transition: color 1s cubic-bezier(0.19, 1, 0.22, 1);
    border-bottom: 1px solid hsla(50, 100%, 75%, 0);
    line-height: 2rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
}

.NavA:hover {
    color: var(--yellow);
    transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.NavA:focus {
    color: var(--yellow);
    transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    outline: none;
}




.NavA___page___active {
    border-bottom: 1px solid hsla(50, 100%, 75%, 1);
    color: var(--yellow);
}

.NavA___index {
    font-size: 1.5em;
    margin-right: 1.5rem;
}

.NavA___page {
    font-weight: bold;
    margin-right: 1.5rem;
}

.NavA___election {
    font-family: 'Bungee', sans-serif;
    font-size: 1.5rem;
    margin-left: 1.5rem;
}

.NavA___socialMedia {
    font-size: 1.5em;
    margin-left: 1.5rem;
}



/* modified from hover.css */
.hvr-grow {
    transform: perspective(1px) translateZ(0);
    transition: transform 0.1s ease-out;

}
.hvr-grow:hover, .hvr-grow:focus {
    transform: scale(1.2);
    transition: transform 0.1s ease-out;
}

.hvr-underline-from-center {
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: var(--yellow);
    height: 2px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before {
    left: 0;
    right: 0;
}