/* BLOCK: Nav + MODIFIERS: desktop, mobile, tucked, untucked */

.Nav {
    background-color: var(--purple);
    padding: 1.5rem 1.5rem 1rem;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.Nav___desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 2rem;
    height: 5rem;
    transition: height 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.Nav___mobile {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem 1fr;
}

.Nav___tucked {
    height: 5rem;
    transition: height 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.Nav___untucked {
    height: 100vh;
    transition: height 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}



/* ELEMENT: div + MODIFIERS: desktop, mobile, tucked, untucked */

.Nav_div {
    display: flex;
}

.Nav_div___desktop {
    flex-direction: row;
}

.Nav_div___tucked {
    display: none;
}

.Nav_div___untucked {
    flex-direction: column;
    align-items: flex-start;
}

.Nav_div___untucked.Nav_div___right {
    align-items: flex-end;
}



/* ELEMENT: p + MODIFIERS: desktop, mobile */

.Nav_p {
    color: white;
    font-family: 'Bungee', sans-serif;
    font-size: 1.5rem; 
    line-height: 2rem;
}

.Nav_p___desktop {
    display: none;
}

.Nav_p___mobile {
    display: block;
}



/* ELEMENT: button + MODIFIERS: desktop, mobile */

.Nav_button {
    align-self: start;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 2px;
    text-align: right;
}

.Nav_button:hover {
    color: var(--yellow);
}

.Nav_button:focus {
    color: var(--yellow);
    outline: none;
}

.Nav_button___desktop {
    display: none;
}

.Nav_button___mobile {
    display: block;
}



/* OPACITY STYLES */

.visible {
    opacity: 1;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.invisible {
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}